@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

/* Yo, common styles */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

.center{
    padding-right: calc(50% - 600px);
    padding-left: calc(50% - 600px);
}

/* Top */

.top{
    background-image: url(../img/bg-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 735px;
}

/* Header */


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
    border-bottom: 0.5px solid #FFFFFFCC  ;
}

.header__nav{
    display: flex;
    gap: 32px;
}

.header__input{
    height: 41px;
    width: 25%;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-left: 32px;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    color: #FFFFFF;
    background: transparent;
}

.header__input::placeholder{
    font-family: inherit;
    color: #FFFFFF;
}

.nav__link{
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    font-weight: 400;
    color: #FFFFFF;

}

.nav__link:hover{
    text-decoration:underline
}


/* Tagline */

.tagline__title{
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;

    padding-top: 64px;
    padding-bottom: 16px;
}

.tagline__text{
    font-size: 24px;
    line-height: 32px;

    padding-bottom: 16px;
}

.tagline__link{
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: underline;
}

.tagline__link:hover{
    text-decoration: none;
}

/* Discounts */

.discounts{
    margin-top: 64px;
}

.discounts__title{
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000000;

    padding-bottom: 32px;
}
/* {Product} */

.prices-box{
    display: flex;
    gap: 32px;
}

.product-content{
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    margin-bottom: 64px
}

.product{
    width: 378px;
;
}

/* X{Product}X */

.product__subtitle{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;

    margin-bottom: 8px;
}

.product__text{
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    word-wrap: break-word;

    margin-bottom: 12px;
}

.product__prices{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #050505;

}

.product__prices_old{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: line-through;
    color: #888888;
}

/* Catalog */

.catalog{
    margin-bottom: 64px;
}

.catalog__title{
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000000;

    padding-bottom: 32px;
}

/* -> Catalog-content */

.catalog-content{
    margin-bottom: 39px;
}

.catalog__link a{
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #000000;
}

.catalog__link a:hover{
    text-decoration: underline;
}

/* Footer */

.footer{
    background-color:#F7F6F6;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 40px;
}

.footer__menu{
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.footer__title{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.footer__contact{
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.footer__nav{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    text-decoration: none;
}

.footer__nav:hover{
    text-decoration: underline;
}

.footer__contact .ss{
    text-decoration: none;
    font-size: 29px;
}

.ss-box{
    display: flex;
    align-items: center;
    gap: 5px;
}

.ss{
    display: flex;
    align-items: center;
}

.bx{
    font-family: boxicons!important;
    color: #888888;
}
/* Footer - form */

.footer-form{
    display: flex;
    flex-direction: column;
    gap: 12px;
 
}

.footer-form__text{
    font-size: 14px;
    line-height: 16px;
    color: #000000;

    padding-bottom: 4px;
}

.footer-form__input{
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    height: 46px;
    border-radius: 50px;
    line-height: 18px;
    color: black;

    padding: 12px 0 12px 25px;
}

.footer-form__input::placeholder{
    font-family: inherit;
    color: #C4C4C4;
}

.footer-form__btn{
    background: rgba(222, 215, 215, 0.41);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    width: 275px;
    height: 46px;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    transition: 0.5s;
}

.footer-form__btn:hover{
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    color: #FFFFFF;
}
