@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-right: calc(50% - 600px);
  padding-left: calc(50% - 600px);
}

/* Header */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0;
  border-bottom: 0.5px solid #FFFFFF;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
.header__input {
  height: 41px;
  width: 25%;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-left: 32px;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  color: #FFFFFF;
  background: transparent;
}
.header__input::-webkit-input-placeholder {
  font-family: inherit;
  color: #FFFFFF;
}
.header__input::-moz-placeholder {
  font-family: inherit;
  color: #FFFFFF;
}
.header__input:-ms-input-placeholder {
  font-family: inherit;
  color: #FFFFFF;
}
.header__input::-ms-input-placeholder {
  font-family: inherit;
  color: #FFFFFF;
}
.header__input::placeholder {
  font-family: inherit;
  color: #FFFFFF;
}

.nav__link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  font-weight: 400;
  color: #FFFFFF;
}

.nav__link:hover {
  text-decoration: underline;
}

/* {Product} */
.prices-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.product-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product {
  width: 378.6666666667px;
}

/* X{Product}X */
.product__img-link {
  position: relative;
}
.product__img-link img {
  max-width: 100%;
}

.product__link-box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 26px;
  top: 11px;
  left: 303px;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.product__img-link:hover .product__link-box {
  opacity: 1;
}

.product__subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 8px;
}

.product__text {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  word-wrap: break-word;
  margin-bottom: 12px;
}

.product__prices {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
}

.product__prices_old {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #888888;
}

/* Footer */
.footer {
  background-color: #F7F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 64px;
  padding-top: 32px;
  padding-bottom: 40px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__logo {
  display: block;
}

/* Menu-contact-box */
.menu-contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  gap: 129px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 12px;
}

.footer__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 12px;
}

.footer__nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
}

.footer__nav:hover {
  text-decoration: underline;
}

.ss-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5px;
}

.ss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  font-size: 29px;
}

.bx {
  color: #888888;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bx:hover {
  color: #000000;
}

/* Footer - form */
.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 12px;
}

.footer-form__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  margin-bottom: 4px;
}

.footer-form__input {
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  height: 46px;
  border-radius: 50px;
  line-height: 18px;
  color: black;
  padding: 12px 0 12px 25px;
}

.footer-form__input::-webkit-input-placeholder {
  font-family: inherit;
  color: #C4C4C4;
}

.footer-form__input::-moz-placeholder {
  font-family: inherit;
  color: #C4C4C4;
}

.footer-form__input:-ms-input-placeholder {
  font-family: inherit;
  color: #C4C4C4;
}

.footer-form__input::-ms-input-placeholder {
  font-family: inherit;
  color: #C4C4C4;
}

.footer-form__input::placeholder {
  font-family: inherit;
  color: #C4C4C4;
}

.footer-form__btn {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 20px;
  width: 275px;
  height: 46px;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer-form__btn:hover {
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  color: #FFFFFF;
}

.btn {
  background: #FFFFFF;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  padding: 10px 34px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn:hover {
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  color: #FFFFFF;
}

/* Index.html */
/* Top */
.top {
  background-image: url(.././img/bg-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 735px;
}

/* Tagline */
.tagline__title {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  padding-top: 64px;
  padding-bottom: 16px;
}

.tagline__text {
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 16px;
}

.tagline__link {
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: underline;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.tagline__link:hover {
  text-decoration: none;
  color: #888888;
}

/* For */
.for {
  margin-top: 64px;
}

.for__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  padding-bottom: 32px;
}

.for__content {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
}

.for__item {
  height: 415px;
  grid-column: span 4;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.for__item:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.for__item_big {
  grid-column: span 6;
}

.for__link {
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

/* ---------Items---------- */
.for__item_1 {
  background-image: url(.././img/for-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.for__item_2 {
  background-image: url(.././img/for-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.for__item_3 {
  background-image: url(.././img/for-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.for__item_4 {
  background-image: url(.././img/for-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.for__item_5 {
  background-image: url(.././img/for-5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Discounts */
.discounts {
  margin-top: 64px;
}

.discounts__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  padding-bottom: 32px;
}

/* Catalog */
.catalog {
  margin-top: 64px;
}

.catalog__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  padding-bottom: 32px;
}

/* -> Catalog-content */
/* .catalog-content{

} */
.catalog__link {
  margin-top: 32px;
}

.catalog__link a {
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.catalog__link a:hover {
  text-decoration: underline;
}

/* Footer */
.footer {
  background-color: #F7F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 64px;
  padding-top: 32px;
  padding-bottom: 40px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 789px;
}

.footer__logo {
  display: block;
}

/* Menu-contact-box */
.menu-contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 129px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.footer__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.footer__nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
}

.footer__nav:hover {
  text-decoration: underline;
}

.ss-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.ss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 29px;
}

.bx {
  color: #888888;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bx:hover {
  color: #000000;
}

/* Footer - form */
.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.footer-form__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  margin-bottom: 4px;
}

.footer-form__input {
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  height: 46px;
  border-radius: 50px;
  line-height: 18px;
  color: black;
  padding: 12px 0 12px 25px;
}

.footer-form__input::-webkit-input-placeholder {
  font-family: inherit;
  color: #C4C4C4;
}

.footer-form__input::-moz-placeholder {
  font-family: inherit;
  color: #C4C4C4;
}

.footer-form__input:-ms-input-placeholder {
  font-family: inherit;
  color: #C4C4C4;
}

.footer-form__input::-ms-input-placeholder {
  font-family: inherit;
  color: #C4C4C4;
}

.footer-form__input::placeholder {
  font-family: inherit;
  color: #C4C4C4;
}

.footer-form__btn {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  width: 275px;
  height: 46px;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer-form__btn:hover {
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  color: #FFFFFF;
}

/* ______________Katalog.html_____________________ */
/* Top-catalog */
.top-catalog {
  background-image: url(.././img/bg-catalog.jpg);
  min-height: 400px;
}

/* Header-catalog */
/* Tagline-catalog */
.tagline-catalog__title {
  padding-top: 127px;
}

/* Sort-catalog */
.sort-catalog {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sort-catalog__navbar {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.navbar__item:not(:last-child)::after {
  content: "/";
  padding-left: 10px;
  padding-right: 10px;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.navbar__item a {
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-decoration: none;
  position: relative;
}

.navbar__item a::after {
  content: "";
  display: block;
  position: absolute;
  left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
  width: 0; /*задаём длинну линии до наведения курсора*/
  height: 1px; /*задаём ширину линии*/
  background-color: #888888; /*задаём цвет линии*/
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out; /*задаём время анимации*/
}

.navbar__item a:hover:after,
.navbar__item a:focus:after {
  width: 100%;
}

.delimiter {
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  padding: 0 10px;
}

.select-catalog {
  /* задаем фон, стили текста и рамку */
  background: transparent;
  border: 1px solid #C4C4C4;
  color: #000000;
  border-radius: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* Задаем отступы */
  padding: 14px 60px 14px 33px;
  /* Убираем браузерную стрелку */
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  /* Убираем браузерную обводку */
  outline: none;
  cursor: pointer;
}

.select::-ms-expand {
  /* убиаем стрелку для Explorrer */
  display: none;
}

.select-wrapper {
  background-image: url(.././img/wrapper.svg);
  background-repeat: no-repeat;
  background-position: right 15px top 50%;
}

/* Catalog-catalog */
.catalog-catalog {
  margin-top: 41px;
}

/* footer-catalog */
.top-basket {
  background-image: url(.././img/bg-basket.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 400px;
}

.haeding-big {
  margin-top: 127px;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
}

.basket {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-top: 64px;
}
.basket__content {
  grid-column: span 8;
}
.basket__name-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 14px;
}
.basket__name-box_text {
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.basket__item {
  border-top: 0.5px solid #CACDD8;
  padding-top: 25px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.basket__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
.basket__info {
  width: 276px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
}
.basket__info_title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.basket__info_text {
  color: #888888;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.basket__info_prices {
  color: #050505;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.basket__link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.basket__link-box a {
  font-weight: 400;
  font-size: 14px;
  line-height: 210%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
}
.basket__link-box a:hover {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.basket__number {
  font-family: "Poppins", sans-serif;
  width: 71px;
  height: 51px;
  background: #F7F6F6;
  border-radius: 6px;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 210%;
  color: #000000;
  text-align: center;
}
.basket__btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
  padding-top: 60px;
}
.basket__form {
  background: #F7F6F6;
  border-radius: 20px;
  min-height: 556px;
  grid-column: span 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.basket__form_title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  margin-top: 42px;
}
.basket__form_input-box {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 44px;
  margin-right: 64px;
  margin-left: 27px;
  margin-top: 35px;
  width: 288px;
}
.basket__form_input-box input {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #CACDD8;
  outline: 0;
}
.basket__form_input-box input::-webkit-input-placeholder {
  color: #000000;
}
.basket__form_input-box input::-moz-placeholder {
  color: #000000;
}
.basket__form_input-box input:-ms-input-placeholder {
  color: #000000;
}
.basket__form_input-box input::-ms-input-placeholder {
  color: #000000;
}
.basket__form_input-box input::placeholder {
  color: #000000;
}
.basket__form_price {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 64px;
}
.basket__form_price span {
  font-weight: 500;
}
.basket__form_btn {
  margin-top: 28px;
  padding: 10px 63px;
  text-align: center;
}

.basket-link {
  margin-top: 32px;
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .product-content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .product {
    margin: 0 auto;
  }
}
@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .for__item {
    height: 268px;
  }
  .product-content {
    -webkit-column-gap: 27px;
       -moz-column-gap: 27px;
            column-gap: 27px;
    row-gap: 39px;
  }
  .footer__logo {
    display: none;
  }
  .basket {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .basket__content {
    grid-column: span 8;
    grid-row: 1;
  }
  .basket__form {
    grid-column: span 4;
    grid-row: 2;
  }
}
@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .product {
    width: 345px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-right: calc(50% - 171.5px);
    padding-left: calc(50% - 171.5px);
  }
  .basket {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .basket__content {
    grid-column: span 3;
    grid-row: 1;
  }
  .basket__form {
    grid-column: span 4;
    grid-row: 2;
  }
  .basket__left img {
    display: none;
  }
}