// width: 834px-1024px

@media (min-width: 1025px) and(max-width: 1225px){
    .center{
    padding-left: 5% ; /* 16px/1025 */
    padding-right: 5% ; /* 16px/1025 */
    }

    .footer{
        gap: 20px;
    }
}

@media (max-width: 1024px){
    .center{
        padding-left: calc(50% - 786px/2);
        padding-right: calc(50% - 786px/2);
    }

    .for{
        &__item{
            height: 268px;
        }
    }

    .product-content{
        column-gap: 27px;
        row-gap: 39px;
    }

    .footer{
        &__logo{
            display: none;
        }
    }
    // basket
    .basket{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(2, 1fr);
        &__content{
            grid-column: span 8;
            grid-row: 1;
        }

        &__form{
            grid-column: span 4;
            grid-row: 2;
            
        }
    }

    .top{
        min-height: 735px;
    }

}
@media (min-width: 768px) and (max-width: 833px){
    .center{
        padding-left: 24px;
        padding-right: 24px;

    }

    .top{
        min-height: 735px;
    }

    .product{
            width: 345px;
            &__link-box{
                left: 280px;
            }
    
            &__link{
                width: 12px;
            }
        }
    
}