// width: 834px-1024px

@media (min-width: 1025px) and(max-width: 1200px){
    .product-content{
        justify-content:space-between;
    }
    .product{
        margin: 0 auto ;
    }
}

@media (max-width: 1024px){
    .center{
        padding-left: calc(50% - 786px/2);
        padding-right: calc(50% - 786px/2);
    }

    .for{
        &__item{
            height: 268px;
        }
    }

    .product-content{
        column-gap: 27px;
        row-gap: 39px;
    }

    .footer{
        &__logo{
            display: none;
        }
    }

}
@media (min-width: 768px) and (max-width: 833px){
    .center{
        padding-left: 24px;
        padding-right: 24px;

    }

        .product{
            width: 345px;
        }
    
}