// 300px-768px

@media (min-width: 579px) and (max-width: 767px){
    .center{
        padding-right: 16px;
        padding-left: 16px;
    }
    .catalog{
        &__title{
            text-align: center;
        }

        &__link{
            display: flex;
            justify-content: center;
        }
    }

    .for{
        &__title{
            text-align: center;
        }
        &__content{
            grid-template-columns: repeat(4, 1fr);
            margin: 0 66px;
        }
        &__item{
            &:hover{
                transform: scale(0.96);
            }
            grid-column: 1/-1;
            height: 374px ;
            
            &_big{
                height: 243px;
            }
        }
    }

    .discounts{
        &__title{
            text-align: center;
        }
    }

    .product-content{
        justify-content: center;
    }

    .footer{
        &__content{
            justify-content: center;
            column-gap: 20px;
            row-gap: 130px;
        }
    }

    .basket{
        &__form{
            grid-column: 1/-1;
            &_input-box{
                align-self: center;
                width: 200px;
            }
        }

        &__btn-box{
            justify-content: center;
        }
    }

}


@media (max-width: 580px){
    // .center{
    //     padding-right: calc(50% - 343px/2);
    //     padding-left: calc(50% - 343px/2);
    // }

    .center{
        padding-right: calc(50% - 350px/2);    
        padding-left: calc(50% - 350px/2);    

    }    

    .top{
        height: 100vh;
    }
    .header{
        padding-top: 32px;
        border: none;
        &__nav{
            display: none;
        }
        &__input{
            display: none;
        }
        &__logo img{
            width: 99px;
        }
        &__nav-mob{
            display: flex;
            gap: 32px;
        }
    }

    .tagline{
        display: flex;
        flex-direction: column;
        &__title{
            font-weight: 600;
            font-size: 48px;
            line-height: 59px;
            text-align: center;
        }

        &__text{
            font-weight: 400;
            font-size: 16px;
            line-height: 32px; 
            text-align: center;
        }

        &__link{
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
        }
    }

    .haeding-big{
        font-weight: 600;
        font-size: 48px;
        line-height: 59px;
        text-align: center;
    }


    .for{
        &__title{
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
        }

        &__content{
            grid-template-columns: repeat(4, 1fr);
        }
        &__item{
            &:hover{
                transform: scale(0.96);
            }
            grid-column: 1/-1;
            height: 374px ;
            
            &_big{
                height: 243px;
            }
        }
    }

    .discounts{
        &__title{
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;  
        }
    }

    .catalog{
        &__title{
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;  
        }
    }

    .sort-catalog{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px
    }

    .select-catalog{
        padding: 14px 60px 14px 16px;
    }

    // basket
    .basket{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        &__content{
            grid-column: 1/-1;
        }

        &__form{
            grid-column: 1/-1;
            
        }
        
        &__left{
            width: 200px;
        }

        &__left img{
            display: none;
        }

        &__name-box{
            display: none;
        }

        &__item{
            gap:0px;
        }

        &__btn-box{
            padding-top: 40px;
            gap: 14px;
        }

        &__info{
            &_title{
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
            }

            &_text{
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
            }

            &_prices{
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
            }
        }
    }



    .footer{
        &__content{
            display: flex;
            gap: 50px;
            justify-content: center;
                margin: 0 0px;
        }
    }

    .menu-contact-box{
        gap:100px
    }

    .btn{
        padding: 10px 0px;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        width: 163px;
    }

    

    .product{
        &__subtitle{
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
        }

        &__text{
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
        }

        &__prices{
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
        }

        &__link-box{
            left: 280px;
        }

        &__link{
            width: 12px;
        }

    }
}





// Media Fold

@media (max-width: 350px) {
    .btn{
        width: 130px;
    }
    .tagline{
        &__title{
            font-size: 34px;
        }
    }
    .select-catalog{
        padding: 10px 37px 10px 10px;
    }

    .sort-catalog{
        display: none;
    }
    .catalog{
        &__title{
            text-align: center;
        }

        &__link{
            display: flex;
            justify-content: center;
        }
    }
    .basket{
        &__form{
            &_input-box{
                align-self: center;
                width: 200px;
            }
        }
    }

    .product-content{
        justify-content: center;
    }
    .product{
        width: 230px;
        &__link-box{
            display: none;
        }
    }

    .discounts{
        &__title{
            text-align: center;
        }
    }

    .footer{
        &__contact-box{
            display: none;
        }
        
        
    }

    .footer-form{
            align-items: center;
        &__input{
            padding: auto;
            width: 230px;
        }

        &__btn{
            width: 230px;     
        }
    }
}