.top-basket{
    background-image: url(../.././img/bg-basket.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 400px;
}

.haeding-big{
    margin-top: 127px;
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
}

// Basket

.basket{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: $gap;
    margin-top: 64px;

    &__content{
        grid-column: span 8;
    }
    
    &__name-box{
        display: flex;
        justify-content: space-between;
        padding-bottom: 14px;

        &_text{
            color: $color-second;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
        }
    }

    &__item{
        border-top: 0.5px solid #CACDD8;
        padding-top: 25px;
        padding-bottom: 32px;

     
        display: flex;
        justify-content: space-between;
        align-items: flex-start;       
    }

    &__left{
        display: flex;
        gap: $gap;

    }

    &__info{
        width: 276px;
        display: flex;
        flex-direction: column;
        gap: 14px;

        &_title{
            font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: $color-second;
        }

        &_text{
            color:#888888;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
        }

        &_prices{
            color:#050505;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
        }
    }

    &__link-box{
        display: flex;
        gap: 30px;
    }
    &__link-box a{
        font-weight: 400;
        font-size: 14px;
        line-height: 210%;
        text-decoration-line: underline;
        color: #000000;
    }

    &__link-box a:hover{
        text-decoration-line: none;
    }

    &__number{
        font-family: 'Poppins', sans-serif;
        width: 71px;
        height: 51px;
        background: #F7F6F6;
        border-radius: 6px;
        outline: none;
        border: none;
        font-weight: 600;
        font-size: 14px;
        line-height: 210%;
        color: $color-second;
        text-align: center;

    }

    &__btn-box{
        display: flex;
        gap: 7px;
        padding-top: 60px;
    }

    &__form{
        background: #F7F6F6;
        border-radius: 20px;
        min-height: 556px;
        grid-column: span 4;
        
        display: flex;
        flex-direction: column;
        align-items: center;

        &_title{
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            color: #000000;
            margin-top: 42px;
        }

        &_input-box{
            align-self: flex-start;

            display: flex;
            flex-direction: column;
            gap: 44px;
            margin-right: 64px;
            margin-left: 27px;
            margin-top: 35px;
            width: 288px;
        }

        &_input-box input{
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: $color-second;
            border: none;
            background-color:transparent;
            border-bottom: 1px solid #CACDD8;
            outline: 0;
        }

        &_input-box input::placeholder{
        color:$color-second;
        }

        

        &_price{
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            color: $color-second;
            margin-top: 64px;
        }

        &_price span{
            font-weight: 500;
        }

        &_btn{
            margin-top: 28px;
            padding: 10px 63px;
            text-align: center;
        }


    }
}

.basket-link{
    margin-top: 57px;
}
