/* Index.html */

/* Top */

.top{
    background-image: url(.././img/bg-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}


/* Tagline */
.tagline{
    &__title{
        font-weight: 600;
        font-size: 64px;
        line-height: 70px;

        padding-top: 64px;
        padding-bottom: 16px;
    }

    &__text{
        font-size: 24px;
        line-height: 32px;

        padding-bottom: 16px;
    }

    &__link{
        font-size: 16px;
        line-height: 24px;
        color: $color-text;
        text-decoration: underline;
        transition: 0.3s;

        &:hover{
            text-decoration: none;
            color:#888888;
        }
    }

}
/* For */

.for{
    margin-top: 64px ;
    .for__title{
        font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: $color-h2;

    padding-bottom: 32px;
}

    &__content{
        display: grid;  
        gap: 32px;
        grid-template-columns: repeat(12, 1fr);

    }

    &__item{
        height: 415px;
        grid-column: span 4;
        transition: all .5s ease-in-out;

        &:hover{
            transform: scale(1.04);
            border-radius: 10px;
        }

        &_big{
            grid-column: span 6;
        }

         /* ---------Items-bg---------- */

        &_1{
            background-image: url(.././img/for-1.jpg);
            background-repeat: no-repeat;
            background-size: cover; 
            background-position: center;
        }
        &_2{
            background-image: url(.././img/for-2.jpg);
            background-repeat: no-repeat;
            background-size: cover; 
            background-position: center;
        }
        &_3{
            background-image: url(.././img/for-3.jpg);
            background-repeat: no-repeat;
            background-size: cover; 
            background-position: center;
        }
        &_4{
            background-image: url(.././img/for-4.jpg);
            background-repeat: no-repeat;
            background-size: cover; 
            background-position: center;
        }
        &_5{
            background-image: url(.././img/for-5.jpg);
            background-repeat: no-repeat;
            background-size: cover; 
            background-position: center;
        }
    }

    &__link{
        font-weight: 600;
        font-size: 34px;
        line-height: 41px;
        color: $color-text;
        
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        
    }

}


/* Discounts */

.discounts{
    margin-top: 64px;

    &__title{
        font-weight: 600;
        font-size: 48px;
        line-height: 59px;
        color: $color-h2;
    
        padding-bottom: 32px;
    }
}




