/* {Product} */

.prices-box{
    display: flex;
    gap: 32px;
}

.product-content{
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}

.product{
    width: ($width-desctop - $gap*2)/3;
    transition: all 0.3s;
    &:hover{
        .product__img-link img{
            border-radius: 10px 10px 0 0;
        }
        box-shadow: 10px 5px 5px #00000069;
        border-radius: 0 10px 10px 0;
        transform: scale(0.98);
        
    }


/* X{Product}X */

    &__img-link{
        position: relative;
        
        
        & img{
            max-width: 100%;
            transition: all 0.3s;
        }

        &:hover{
            cursor: pointer;

            .product__link-box{
                opacity: 1; 
            }
        }
    }

    &__link{
        &:hover{
            transform: scale(1.2);
        }

        &_animation{
            animation: 0.35s linear 0s circle;
        }
    }

    &__link-box{
        position: absolute;
        display: flex;
        gap: 26px;
        top: 11px;
        left: 303px;
        opacity: 0;
    }

    &__subtitle{
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;

        margin-bottom: 8px;
    }

    &__text{
        font-size: 14px;
        line-height: 17px;
        color: #888888;
        word-wrap: break-word;

        margin-bottom: 12px;
    }

    &__prices{
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #050505;


        &_old{
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            text-decoration-line: line-through;
            color: #888888;
        }
    }
}
